.background{
  background-color: #FFFFFF;
  width: 70%;
  max-width:1000px;
  margin: 0 auto;
  padding: 12px 10px;
  text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
    padding-left: 5px;
    margin-top: 8px;
    font-size: larger;
}

ol {
    text-align: center;
    list-style-position: inside;
    padding-right: 45px;
    margin-top: 8px;
}

body{
    background-color: #f5f5f5;
    font-family: arial, sans-serif;
    background-image: url(../images/leaves.png);
}

#page-title{
  color: #297045;
  font-family: Brush Script MT,cursive;
  font-size: xxx-large;
}

#tomato-title{
  color: #DE1A1A;
  font-family: Brush Script MT,cursive;
  font-size: xxx-large;
}

#cucumber-title{
  color: #12ab53;
  font-family: Brush Script MT,cursive;
  font-size: xxx-large;
}

#potato-title{
  color: #8C4C18;
  font-family: Brush Script MT,cursive;
  font-size: xxx-large;
}

#sunflower-title{
  color: #F5C800;
  font-family: Brush Script MT,cursive;
  font-size: xxx-large;
}



h2{
    color: #25653e;
    text-align: center;
    margin-bottom: .5em;
    margin-block-end: .5em;
}



img{

  max-width: 90%;
  max-height: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.site-name{
  color: #8FAD85;
  text-align: right;
  margin-bottom: .5em;
  margin-block-end: .5em;
  margin-right: : auto;
}


.caption{
  font-style: italic;
  text-align: center;
  margin-top: .25em;
  font-size: x-small;
}

@media all and (min-width: 920px){
  article, aside{
  float: left;
  background-color: #FFFFFF;
  }

  article{
  width: 75%;
  padding-left: 110px;
  }
  aside{
  width: 25%;

  }
}
